body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: #434455 ;
    color: #FFFFFF;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a
{
text-decoration: none;
    
}
.nav-list a {
    color: #2E2F42;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #404bbf;
}
.hero{
    background:  #2e2f42;
}
h1,h2
{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
}
h1{
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}
h2
{
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color:  #2E2F42;
}
h3
{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}
.navigation
{font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2E2F42;
}
.info:hover,
.info:focus {
    color: #404bbf;
}

header
{
    background-color: #FFFFFF;
}
.logo-first
{
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.logo-second
{
    font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color:  #2e2f42;
font-family: "Raleway", sans-serif;
}
.nav-list
{
   font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:  #2E2F42; 
padding: 15px;
}
.info
{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding: 15px;
font-style: normal;
}
.button
{
 font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: white;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4D5AE5;
cursor: pointer;
}
.button:hover,
.button:focus{
    background: #404bbf;
}
.about
{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
padding-left: 15px;
}
.team
{background-color: #F4F4FD;}
.names
{
    font-weight: 500;
font-size: 20px;

line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}
.about-team
{
    font-weight: 400;
font-size: 16px;

line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}
.portfolio

  { font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.team li{
  background-color: #FFFFFF;  
}
.portfolio p
{font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}

footer p
{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}
footer
{
    background-color: #2E2F42 ;
}
.logo-footer
{
  font-family: "Raleway", sans-serif;  
  font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;  
}
 