

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: #434455 ;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.nav-list a {
    color: #2E2F42;
    display: block;
    padding: 24px 0; 
}

.nav-list a:hover,
.nav-list a:focus {
    color: #404bbf;
}

.hero {
    background: #2e2f42;
    padding-bottom: 188px;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

h1 {
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
    margin: 0 auto 48px;
}

h2 {
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin: auto;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.navigation {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.info:hover,
.info:focus {
    color: #404bbf;
}

header {
    background-color: #FFFFFF;
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;
}

.logo-first {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-second {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
}

.nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.info {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    font-style: normal;
    display: block;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1158px;
    margin: 0 auto;
   
}

header nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 76px;
}

.nav-list {
    display: flex;
    gap: 40px;
}

header address ul {
    display: flex;
    gap: 40px;
}

header address {
    font-style: normal;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    cursor: pointer;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
}

.hero button {
    display: block;
    margin: 0 auto;
    flex-wrap: wrap;
}

.button:hover,
.button:focus {
    background: #404bbf;
}

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
}

.about {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}



.team-title {
    align-items: center;
    margin-bottom: 72px;
}

.team li {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    padding-inline: 0px;
    

}

.team ul {
    display: flex;
    overflow: hidden;
    gap: 24px;
   
}

.names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.about-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.features ul {
    display: flex;
    gap: 24px;
}
.features li {
    width: calc((100% - 72px) / 4);
}
.features {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #FFFFFF;
}

.features-title {
    margin-bottom: 8px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team ul {
    justify-content: center;
    gap: 24px;
    
}

.team li {
    background-color: #FFFFFF;
   width: calc((100% - 72px) / 4);
   
}
.team-card {
   padding: 32px 16px;
    width: 264px;
}

.team {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
    
}
.portfolio p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio ul {
    gap: 48px 24px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;

}
.portfolio li{
    width: calc((100% - 48px) / 3);
}
.card-title {
    margin-bottom: 8px;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
    margin-top: 16px;
}

footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}


.portfolio-item-content {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
   padding: 32px 16px;
    width: 360px;
    height: 120px;
}
.portfolio-title {
    margin-bottom: 72px;
}